WebContent/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.revenueforecast.cts.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.revenueforecast.cts.com" xmlns:intf="http://service.revenueforecast.cts.com" xmlns:tns1="http://model.revenueforecast.cts.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.revenueforecast.cts.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.revenueforecast.cts.com"/>
   <element name="isUserValid">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUserValidResponse">
    <complexType>
     <sequence>
      <element name="isUserValidReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateUserResponse">
    <complexType>
     <sequence>
      <element name="validateUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="userToAdd" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType>
     <sequence>
      <element name="addUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllUsers">
    <complexType/>
   </element>
   <element name="getAllUsersResponse">
    <complexType>
     <sequence>
      <element name="getAllUsersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="generateToken">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateTokenResponse">
    <complexType>
     <sequence>
      <element name="generateTokenReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveForgotPassword">
    <complexType>
     <sequence>
      <element name="user_Id" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveForgotPasswordResponse">
    <complexType>
     <sequence>
      <element name="saveForgotPasswordReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveChangePassword">
    <complexType>
     <sequence>
      <element name="user_Id" type="xsd:string"/>
      <element name="currentPassword" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveChangePasswordResponse">
    <complexType>
     <sequence>
      <element name="saveChangePasswordReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.revenueforecast.cts.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.revenueforecast.cts.com"/>
   <complexType name="User">
    <sequence>
     <element name="approval_status" nillable="true" type="xsd:string"/>
     <element name="first_name" nillable="true" type="xsd:string"/>
     <element name="last_name" nillable="true" type="xsd:string"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="mobile_number" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="role" nillable="true" type="xsd:string"/>
     <element name="user_id" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateUserRequest">

      <wsdl:part element="impl:validateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUserValidRequest">

      <wsdl:part element="impl:isUserValid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveChangePasswordRequest">

      <wsdl:part element="impl:saveChangePassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersResponse">

      <wsdl:part element="impl:getAllUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveForgotPasswordResponse">

      <wsdl:part element="impl:saveForgotPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersRequest">

      <wsdl:part element="impl:getAllUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveChangePasswordResponse">

      <wsdl:part element="impl:saveChangePasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUserValidResponse">

      <wsdl:part element="impl:isUserValidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveForgotPasswordRequest">

      <wsdl:part element="impl:saveForgotPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateUserResponse">

      <wsdl:part element="impl:validateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateTokenResponse">

      <wsdl:part element="impl:generateTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateTokenRequest">

      <wsdl:part element="impl:generateToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="isUserValid">

         <wsdl:input message="impl:isUserValidRequest" name="isUserValidRequest">

       </wsdl:input>

         <wsdl:output message="impl:isUserValidResponse" name="isUserValidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateUser">

         <wsdl:input message="impl:validateUserRequest" name="validateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateUserResponse" name="validateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdl:input message="impl:getAllUsersRequest" name="getAllUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllUsersResponse" name="getAllUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateToken">

         <wsdl:input message="impl:generateTokenRequest" name="generateTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateTokenResponse" name="generateTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveForgotPassword">

         <wsdl:input message="impl:saveForgotPasswordRequest" name="saveForgotPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveForgotPasswordResponse" name="saveForgotPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveChangePassword">

         <wsdl:input message="impl:saveChangePasswordRequest" name="saveChangePasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveChangePasswordResponse" name="saveChangePasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isUserValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUserValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isUserValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveForgotPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveForgotPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveForgotPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveChangePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveChangePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveChangePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/RevenueForecast/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
